apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: coredns
      namespace: kube-system
    spec:
      replicas: 1
      template:
        spec:
          containers:
          - name: coredns
            resources:
              limits:
                cpu: 100m
                memory: 64Mi
              requests:
                cpu: 50m
                memory: 32Mi
