apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applicationset-generator
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/vietcgi/kubernetes-platform-stack
    targetRevision: main
    path: argocd/applicationsets

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
