---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  # Run server without TLS - required when behind ingress that terminates TLS
  server.insecure: "true"

  # Base href for server
  server.basehref: /

  # Root path for server
  server.rootpath: ""
