apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Use Helm to generate ArgoCD manifests
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    releaseName: argocd
    namespace: argocd
    version: 9.1.2
    valuesFile: ../helm/argocd/values.yaml

# Patch the argocd-server deployment to add --insecure flag
patches:
  - target:
      kind: Deployment
      name: argocd-server
      namespace: argocd
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - /usr/local/bin/argocd-server
          - --port=8080
          - --metrics-port=8083
          - --insecure
